# Ignore
*

# note to self cause im retarded:
# * = all files in a directory
# ** = all nested things in a directory

# Allow

# Actual configs
!.gitignore
!.mymisc/
!.mymisc/**
!MangoHud/
!MangoHud/*

# Theming
!starship.toml
!waybar/
!waybar/*
!alacritty/
!alacritty/*
!fastfetch/
!fastfetch/*
!rofi/
!rofi/*
!hypr/
!hypr/*
!mako/
!mako/*
