@import "colors.css";


/*
mainbar config
*/


*
{
    border: none;
    font-family: Mononoki Nerd Font;
    font-size: 20px;

}


window#waybar
{
    background-color: transparent;

}


window#waybar > box
{
    background-color: transparent;
    margin-right: 6px;
    margin-left: 6px;

}


/*
standalone modules + groups
*/


#custom-playerctl,
#custom-logo,
#visual,
#bluetooth,
#pulseaudio,
#workspaces,
#tray,
#network,
#batinfo,
#cpu,
#memory,
#clock
{
    background-color: @bg0;
    margin: 8px 4px 0px 4px;
    padding: 0px 4px 0px 4px;
    border-radius: 4px;
    color: @text-color;

}


/*
standalone overrides
*/


#custom-logo
{
    padding: 0 2px 0 4px;

}


#visual
{
    padding: 0 0 0 0;

}


#bluetooth
{
    padding: 0 8px 0 6px;

}


#workspaces
{
    padding: 0 0 0 0;

}


#tray
{
    min-width: 24px;

}


#network
{
    padding: 0 6px 0 6px;

}


#batinfo
{
    padding: 0 0 0 0;

}


#workspaces button
{
    background-color: @bg1;
    margin: 3px 3px 3px 3px;
    padding: 0 4px 0 4px;
    border-radius: 4px;
    color: @text-color;

}


#workspaces button:hover
{
    background: @bg1_act;
    box-shadow: unset;

}


/*
inside group modules
*/


#custom-playerdata,
#cava,
#custom-voldown,
#custom-volicon,
#custom-volup,
#custom-prev,
#custom-playpause,
#custom-next,
#battery,
#battery-bat2
{
    background-color: @bg1;
    margin: 3px 3px 3px 3px;
    padding: 0 4px 0 4px;
    border-radius: 4px;
    color: @text-color;

}


/*
inside group overrides
*/


#custom-playpause
{
    padding: 0 0 0 6px;

}

